
.lists{
    margin-top: -150px;
}
footer{
    background-color: #181818;
    color:rgb(73, 73, 73);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}